@model UniCruiter.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Student List</h1>
<form asp-controller="Students" asp-action="CardIndex" method="get">
    <p>
        Email Address: <input type="text" asp-for="Email" />
        <br />
        First Name: <input type="text" asp-for="FirstName" />
        &nbsp;
        Last Name: <input type="text" asp-for="LastName" />
        <br />
        <label asp-for="Major"></label>
        <select asp-for="Major" asp-items="Model.Majors">
            <option value="">All Majors</option>
        </select>
        &nbsp;
        <label asp-for="Year"></label>
        <select asp-for="Year" asp-items="Model.Years">
            <option value="">All Years</option>
        </select>
        &nbsp;
        <label asp-for="Season"></label>
        <select asp-for="Season" asp-items="Model.Seasons">
            <option value="">All Seasons</option>
        </select>
        <br />
        <a asp-action="Index">Switch to List View</a>
        &nbsp;
        <a asp-action="Create">Add New Student</a>
        &nbsp;
        <a asp-action="Index">Reset Filters</a>
        &nbsp;
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model.Students)
    {
        <div class="card border-dark mb-3" style="width:fit-content; height:fit-content;">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.FullName)</h5>
            <div class="card-body">
                <p>@Html.DisplayFor(modelItem => item.Major)</p>
                <p>
                    @Html.DisplayFor(modelItem => item.Season)
                    @Html.DisplayFor(modelItem => item.Year)
                </p>
                <p>@Html.DisplayFor(modelItem => item.Email)</p>
                <div class="btn-group">
                    <a asp-action="CreateComment" asp-route-id="@item.Id" class="btn btn-outline-primary">Comment</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-primary">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
