@model UniCruiter.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Student List</h1>
<form asp-controller="Students" asp-action="Index" method="get">
    <p>
        Email Address: <input type="text" asp-for="Email" />
        <br />
        First Name: <input type="text" asp-for="FirstName" />
        &nbsp;
        Last Name: <input type="text" asp-for="LastName" />
        <br />
        <label asp-for="Major"></label>
        <select asp-for="Major" asp-items="Model.Majors">
            <option value="">All Majors</option>
        </select>
        &nbsp;
        <label asp-for="Year"></label>
        <select asp-for="Year" asp-items="Model.Years">
            <option value="">All Years</option>
        </select>
        &nbsp;
        Season:
        <select asp-for="Season" asp-items="Model.Seasons">
            <option value="">All Seasons</option>
        </select>
        <br />
        <a asp-action="CardIndex">Switch to Card View</a>
        &nbsp;
        <a asp-action="Create">Add New Student</a>
        &nbsp;
        <a asp-action="Index">Reset Filters</a>
        &nbsp;
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Major)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Graduation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Major)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Graduation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


