@model UniCruiter.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Student List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Students" asp-action="Index" method="get">
    <p>
        <label asp-for="Major"></label>
        <select asp-for="Major" asp-items="Model.Majors">
            <option value="">All Majors</option>
        </select>
        &nbsp;
        <label asp-for="Year"></label>
        <select asp-for="Year" asp-items="Model.Years">
            <option value="">All Years</option>
        </select>
        &nbsp;
        <label asp-for="Season"></label>
        <select asp-for="Season" asp-items="Model.Seasons">
            <option value="">All Seasons</option>
        </select>

        <br />
        First Name: <input type="text" asp-for="FirstName" />
        &nbsp;
        Last Name: <input type="text" asp-for="LastName" />
        &nbsp;
        <input type="submit" value="Filter" />
        &nbsp;
        @Html.ActionLink("Reset All", "", new { @class = "btn btn-sm btn-primary" })
    </p>
</form>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model.Students)
    {
        <div class="card border-dark mb-3" style="width:fit-content; height:fit-content;">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.FullName)</h5>
            <div class="card-body">
                <p>@Html.DisplayFor(modelItem => item.Major)</p>
                <p>
                    @Html.DisplayFor(modelItem => item.Season)
                    @Html.DisplayFor(modelItem => item.Year)
                </p>
                <p>@Html.DisplayFor(modelItem => item.Email)</p>
                <div class="btn-group">
                    <a asp-action="CreateComment" asp-route-id="@item.Id" class="btn btn-outline-primary">Comment</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-primary">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Major)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Graduation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Major)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Graduation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@


