@model UniCruiter.ViewModels.StudentSearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Student List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Students" asp-action="Index" method="get">
    <p>
        <select asp-for="Major" asp-items="Model.Majors">
            <option value="">All Majors</option>
        </select>

        <select asp-for="Season" asp-items="Model.Seasons">
            <option value="">All Seasons</option>
        </select>

        <select asp-for="Year" asp-items="Model.Years">
            <option value="">All Years</option>
        </select>
        First Name: <input type="text" asp-for="SearchFirst" />
        Last Name: <input type="text" asp-for="SearchLast" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].LastName)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MajorSortParam"]">@Html.DisplayNameFor(model => model.Students[0].Major)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SeasonSortParam"]">@Html.DisplayNameFor(model => model.Students[0].Season)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["YearSortParam"]">@Html.DisplayNameFor(model => model.Students[0].Year)</a>
            </th>
            <th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
